@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


.navbar-brand{
    font-family: 'Ms Madi', cursive;
    font-weight: bolder;
    font-size: xx-large !important;

}


.navbar,.navbar-nav{
    padding: 10px !important;
    font-size: large;

}


.navbar{
    background: white;
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.2);
    width: 100%;
}

.navbar a:hover{
    color: crimson !important;
}